:root {
  background-color: #161A30;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.testimage {
  width: 20em;
  height: 20em;
  float: left;
}

.introduction {
  position: relative; /* Change to relative */
  color: #F0ECE5;
  padding-top: 10rem;
  margin-left: 15rem;
  padding-bottom: 50px;
}

.introduction .right_side_intro p {
  max-width: 50em;
  font-size: 30px;
  text-align: center;
  padding: 6%;
}

.introduction .my_name {
  font-size: 5em;
}

.introduction .rhs {
  text-align: right;
  max-width: 21em;
}

.nav-placeholder {
  padding-top: 78px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: #31304D;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.showcase hr {
  margin-top: 5%;
  margin-left: 25%;
  width: 50%;
}

.showcase h1 {
  font-style: bold;
  padding-left: 20%;
  padding-top: 50px;
  display: block;
  color: #F0ECE5;
}

#skills_display {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  align-items: center;
  padding-left: 20%;
  margin-top: 80px; /* Add margin-top to separate from the introduction */
}

.skills {
  background-color: #F0ECE5;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

#endpage footer {
  position: relative;
  bottom: 0;
  left: 0;
}

.main_title {
  font-size: 32px;
  text-decoration: none;
  font-weight: 700;
  color: #F0ECE5;
}

.main_nav a {
  position: relative;
  font-size: 18px;
  color: #B6BBC4;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.main_nav a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #B6BBC4;
  transition: .3s;
}

.main_nav a:hover::before {
  width: 100%;
}
